@import "../variables";

.footer{
    width: 100%;
    background:$extra-dark ;
    height:60px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    p{
        color:#fff;
        margin: 0;
    }
   .social__display__area{
        a{
            font-size: 20px;
            color: #fff;
            margin: 0 5px
        }
   }
}