@import "../variables";

.header {
  height: 70px;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  box-shadow: 0;
  background: #fff;
  h1 {
    margin-bottom: 0; 
  }
}
.main_logo{
  font-family: 'Modak', cursive;
  color: $extra-light;
  font-size: 45px;
  letter-spacing: 2.3px;
  .english{
    color:#2d2b2b;
    margin-right: 5px;
    letter-spacing: unset;
  }
  @media screen and (max-width:400px) {
    font-size: 30px;
  }
}
.header__nav {
  padding: 0rem 2rem;
  line-height: 70px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: $light;
  img {
    margin-bottom: 0;
  }
  .left__links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    a{
      padding:0 15px;
      font-size: 18px;
      font-weight: 600;
    }
  }
}