@import "../variables";

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.info_page {
    color: $extra-light;
  }
}

.content {
  flex-grow: 1;
  width: 100vw;
  margin-top: 70px;
}
